pyrogram
requests
pymongo
bs4
RyuzakiLib
uvicorn
gpytranslate
google-search-results
httpx
serpapi
telegraph
pathlib
anyio
certifi==2023.7.22
click
fastapi[all]
httpcore
httptools
httpx
pydantic
python-dotenv
pyyaml
typing-extensions
uvicorn[standard]
uvloop
stripe
bardapi
pre-commit
tqdm
httpx[http2]
Python-IO
serpapi
Pillow
pytz
