pyrogram
requests
bs4
google-search-results
httpx[http2]
Python-IO
Pillow
openai==0.28
tqdm
pre-commit
gpytranslate
Flask
pymongo
pytz
urllib3
pydantic
typing-extensions
typing
aiohttp
deprecation
psutil
screeninfo
aiofiles
g4f
google-generativeai
curl_cffi
gradio-client
gradio
huggingface-hub>=0.23.2
motor
nest-asyncio
wget
