pyrogram
requests
bs4
google-search-results
httpx[http2]
Python-IO
Pillow
openai==0.28
tqdm
pre-commit
gpytranslate
Flask
pymongo
pytz
urllib3
pydantic
typing-extensions
typing
aiohttp
deprecation
ntgcalls>=1.0.2
psutil
screeninfo
aiofiles
g4f
google-generativeai
